<div class="row container">
  <div class="edit-bar columns large-6 small-12">

    <h2>Edit <%= @song.name %> </h2>

    <%= render 'form' %><br />

    <%= link_to "Delete Song", @song, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
