body {
  font-family: 'Jura', sans-serif;
  background-color: #2d2a2a;
  color: white;
}

.background-pic {
  background: url('Soundboard.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.top-bar-left {
  padding-left: 10px;
}

.top-bar {
  background-color: #912b2b;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Fredoka One', sans-serif;
  color: white;
  position: fixed;
  text-align: center;
  padding: 10px;
}

#title-name {
  font-size: 50px;
  font-family: 'Fredoka One', sans-serif;
}

#title-name:hover {
  color: white;
}

.active {
  font-size: 50px;
}

h1 {
  font-family: 'Fredoka One', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Fredoka One', sans-serif;
  font-size: 24px;
}

a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  opacity: 1;
}

a:hover {
  color: white;
  transform: scale(1.2);
}

.songs {
  text-align: center;
}

.button {
  font-family: 'Fredoka One', sans-serif;
  border-radius: 24px;
  background-color: grey;
  border: 2px solid white;
  color: white;
}

.button:hover {
  font-family: 'Fredoka One', sans-serif;
  background-color: white;
  border: 2px solid grey;
  color: black;
}

#new-song {
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
}

#song-container {
  text-align: center;
  background-color: #912b2b;
  margin: 40px;
  border-radius: 20px;
  border: 3px solid white;
  align: center;
}

#song-container:hover {
  text-align: center;
  color: black;
  margin: 40px;
  border-radius: 20px;
}

.song-form-title {
  color: black;
}

.field {
  color: white;
}

.list-item {
  background-color: grey;
  padding: 50px;
  margin: 30px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
}

#user-email {
  text-align: center;
  padding: 10px;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
}

.navbar-link {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

.new-song-link {
  text-align: center;
  background-color: grey;
  width: 25%;
  margin: auto;
  border-radius: 30px;
  border: 4px solid white;
}
